<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html ng-app="myApp">
    <head>
        <title>add</title>
        <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.min.js"></script>
        <script src="../build/ng-csv.js"></script>
        <!--<script>document.write('<base href="' + document.location + '" />');</script> -->

        <script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="EmpController.js"></script>

        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                text-align:center;
                padding: 8px;
            }

            tr:nth-child(even){background-color: #f2f2f2}

            th {
                background-color: #4CAF50;
                color: white;
            }
        </style>
    <table>
        <tr><td><h2>Employees</h2></td><tr>
    </table>
</head>
<body>
    <div ng-controller="EmpController">
        <form action="http://maps.google.com/maps" method="get" target="_blank">
            <table>
                <tr>
                    <td>
                        <label>Name</label>
                    </td>
                    <td>
                        <input type="text" name="name" ng-model="newemp.name"/>
                    </td>
                </tr>
                <tr>
                    <td><label>Address</label></td>
                    <td><input type="text" name="address" ng-model="newemp.address"/></td>
                </tr>

                <tr>
                    <td><label>City</label></td>
                    <td><input type="text" name="saddr" ng-model="newemp.city"/>
                        <input type="hidden" name="daddr" value="Gandhinagr,Gujrat,India" />
                        <input type="submit" value="Get directions" /></td>
                </tr>

                <tr>
                    <td>
                        <label>Department</label></td>
                    <td><select ng-model="newemp.department">
                            <option value="IT">IT</option>
                            <option value="OPERATIONS">OPERATIONS</option>
                            <option value="ACCOUNTS">ACCOUNTS</option>
                        </select> </td>
                </tr>
                <tr>
                <div ng-controller="MainCtrl">
                    <td> <label>Salary</label></td>
                    <td>  <input type="text" name="salary" ng-model="newemp.salary" valid-number/></td></div>
                </tr>
                <tr>
                    <td><label>Other Notes</label></td>
                    <td><input type="text" name="other" ng-model="newemp.other"/></td>
                </tr>
                <br/>
                <input type="hidden" ng-model="newemp.id" />
                </br>
                <tr>
                    <td colspan="2">
                        <input type="button" value="Save" ng-click="saveEmp()" />        
                    </td>
                </tr>
            </table>
        </form>
        </br>

        <br>
        <br>
        <br>
        Search by Name: <input ng-model="query.name">
        Search by Department: <input ng-model="query.dept">
        Sort by:
        <select ng-model="orderProp">
            <option value="name">By Name</option>
            <option value="salary">By Salary</option>
        </select>




        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Department</th>
                    <th>Salary</th>
                    <th>Other Notes</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>



                <tr ng-repeat="emp in emps| filter:query.name | filter:query.dept | orderBy:orderProp | pagination: curPage * pageSize | limitTo: pageSize">
                    <td>{{ emp.name | capitalize }}</td>
                    <td>{{ emp.address}}</td>
                    <td>{{ emp.city}}</td>
                    <td>{{ emp.department}}</td>
                    <td>{{ emp.salary | currency }}</td>
                    <td>{{ emp.other}}</td>    

                    <td>
                        <a  href="#" ng-click="edit(emp.id)">edit</a> |
                        <a href="#" ng-click="delete(emp.id)">delete</a>
                    </td>
                </tr>

            </tbody>
        </table> 

        <div class="pagination pagination-centered" ng-show="emps.length">

            <ul class="pagination-controle pagination">
                <li>
                    <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
                            ng-click="curPage = curPage - 1"> << PREV</button>

                    <span>Page {{curPage + 1}} of {{ numberOfPages()}}</span>

                    <button type="button" class="btn btn-primary"
                            ng-disabled="curPage >= emps.length / pageSize - 1"
                            ng-click="curPage = curPage + 1">NEXT >></button>
                </li>
            </ul>
        </div>

    </div>


    <div ng-controller="myCtrl">
        <p>Hello {{name}}!</p>

        <input type="file" accept=".csv,.xls,.xlsx" file-reader="fileContent"/>

        <div>{{fileContent}}</div>

        <h2>Export {{sample}}</h2>
        <div>
            <button type="button" ng-csv="getArray" filename="Desktop/test.csv">Export</button>
        </div>
    </div>

</div>
</body>
</html>
